# 1. Handling Missing Data

### Import Required Libraries

In [1]:
import pandas as pd
import numpy as np

### Create DataFrame

In [2]:
missing_data_df = pd.DataFrame(
    {
        "Students": ["Tom", "Peter",np.nan, "Mary", "Tom","King","Tom","Mary",np.nan],
        "Exam_Date": ["15/01/2021", "16/01/2021", "19/01/2021", "27/01/2021", "16/01/2021",
                      "16/01/2021", "16/01/2021", "16/01/2021", "16/01/2021"],
        "Math": [79.00, 67.00,np.nan, 84.00, 70.00,np.nan,90.00,76.00,np.nan],
        "Physics":[63.00, np.nan, 60.00, np.nan,84.00, 77.00,55.00,np.nan,66.00],
        "Computer":[np.nan,78.00, 57.00, 88.00, 75.00,93.00,np.nan,70.00,np.nan],
    }
)

missing_data_df

  Students   Exam_Date  Math  Physics  Computer
0      Tom  15/01/2021  79.0     63.0       NaN
1    Peter  16/01/2021  67.0      NaN      78.0
2      NaN  19/01/2021   NaN     60.0      57.0
3     Mary  27/01/2021  84.0      NaN      88.0
4      Tom  16/01/2021  70.0     84.0      75.0
5     King  16/01/2021   NaN     77.0      93.0
6      Tom  16/01/2021  90.0     55.0       NaN
7     Mary  16/01/2021  76.0      NaN      70.0
8      NaN  16/01/2021   NaN     66.0       NaN